$big-margin-right: 86%;
$big-margin-bottom: 1%;

$small-margin-top: 30px;
$small-margin-left: 30px;

$big-space-between-p-and-icons: 150px;

$margin-top-user: 15px;

$padding-p-user-top: 3px;
$padding-p-user-left: 12px;

$margin-top-icon: 25px;
$margin-left-icon: 5px;